body {
    background-color: lightsteelblue;
}

section {
    width: 300px;
    background-color: white;
    padding: 20px;
    margin: 10px;
    // margin-left: 0;
    // margin-top: 0;
    text-align: justify;
    img {
        width: 100%;
    }
}

.left-float {
    float: left;
}

.a-button {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    color: white;
    background-color: royalblue;
}

.flex-box {
    display: flex;
    justify-content: right;
}