body {
    font-size: large;
}

.assigment-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

.assigment-nav li {
    float: left;
}

.assigment-nav li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.assigment-nav li .active {
    color: white;
    background-color: steelblue;
}

.assigment-nav li a:hover:not(.active) {
    background-color: #ddd;
}

header {
    margin: 0;
    margin-bottom: 10px;
    padding: 40px 0;
    text-align: center;
    background-color: white;
    color: steelblue;
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

iframe {
    width: 100%;
    margin: 0;
    padding: 0;
}